// --------------COLORS----------------
$darkBlue: #0B132A !default;
$red: #F53838;
$gray: #4F5665;
$white: #EEEFF2;


// --------------SPACING----------------
$baseLineHeight: 30px;


// --------------BORDERS---------------
$thinBorder: 1px solid $red;
$mediumBorder: 2px solid $red;
$inactiveBorder: 2px solid #DDDDDD;
$normalRadius: 10px;
$hugeRadius: 50px;


// --------------TEXT-------------------
$smallSize: 14px;
$normalSize: 18px !default;
$largeSize: 35px;
$largesrSize: 50px;