@media (max-width: 1024px) {
  :root {
    box-sizing: border-box;
    max-width: 100%;
  }
  .container .header {
    justify-content: space-between;
    margin-left: 25px;
  }
  .container .header .nav .nav-list {
    display: none;
  }
  .container .header .nav .burger-menu {
    display: block;
    height: 75px;
    margin-top: -5px;
  }
  .container .main {
    margin-top: 75px;
    margin-left: 25px;
    max-width: none;
  }
  .container .main .asides {
    display: block;
  }
  .container .main .asides .btn-getStarted {
    margin-bottom: 50px;
  }
  .container .footer-first-page {
    flex-direction: column;
    align-items: start;
    min-width: 0;
    margin: 0;
    margin-top: 75px;
    padding: 0;
  }
  .container .footer-first-page .after-1::after, .container .footer-first-page .after-2::after {
    display: none;
  }
  .container .main-2 {
    flex-direction: column;
  }
  .container .main-2 .right-aside-2 {
    margin: auto;
  }
  .container .container-third-page .main {
    flex-direction: column;
    position: relative;
    margin-top: -30px;
    min-width: 0;
  }
  .container .container-third-page .main .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    max-height: none;
    min-height: 0px;
    box-sizing: border-box;
    width: 350px;
    min-width: 0;
  }
  .container .container-third-page .main .card-container h2 {
    margin-top: 0;
  }
  .container .container-third-page .main .card-container button {
    margin-bottom: 15px;
  }
  .container .container-third-page .card-container:first-of-type .card-main {
    margin-top: 30px;
  }
  .container-fourth-page .map {
    width: 100%;
  }
  .container-fourth-page .footer .companies {
    width: 100%;
  }
  .container-fifth-page .main {
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
    min-width: 75%;
  }
  .container-sixth-page {
    margin: 0;
    padding: 10px;
    padding-top: 75px;
  }
}